.dashboard {
    .container-right {
        margin-left: 25px !important;
        padding-top: 90px;
    }

    .container-right-two {
        padding-top: 10px !important;
        margin-left: 25px !important;
    }

    .btn-header {
        background-color: #3478e8;
        color: #fff;
        border-radius: 10px;
        height: 40px;
        cursor: pointer;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}
